

@{
    ViewBag.Title = "Error";
}


<h1 class="display-3">Something unexpected occured. Try Again !</h1>
<div class="text-center mt-5">
    @Html.ActionLink("Home", "Index", "UserHome", null, new { @class = "btn btn-outline-info" })
</div>

